.header {
    border-bottom: 1px solid #e7e9fc;
    margin-left: auto;
    margin-right: auto;
}

.container {
   
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 40px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

.title-span-studio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
    
.menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2F2F37;
    margin-left: auto;
   }

@media only screen and (max-width: 767.98px) {
    .header-nav {
        display: none;
    }
    address {
        display: none;
    }
    .contacts-list{
        display: none;
    }
}

@media only screen and (min-width: 768px) {

 
    .container {
        max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }

   .nav-list {
        display: flex;
        align-items: center;
        gap: 12px;
   }

   .header-nav {
        margin-right: 122px;
   }

   .header-logo {
        margin-right: 120px;
   }
   .header-menu-link.current{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #404bbf;
    }

    .header-menu-link {
        padding-top: 24px;
        padding-bottom: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    address {
        margin-left: auto;
    }
     .contacts-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
   }
    .header-adress-info{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: #434455;
        
    }    
    
    .menu-btn {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
 
.container {
        max-width: 1158px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .menu-btn {
        display: none;
    }

    address {
        margin-left: auto;
    }

    
   .header-adress-info{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    
}


