 
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    transition: 300ms ease-in;
    transition: transform;
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-close-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 50%;
    background-color: #e7e9fc;
    fill: #2e2f42;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    gap: 40px;
    
    padding-top: 72px;
    padding-left: 16px;
}
.mobile-menu-item {
}

.mobile-menu-link .studio {
    color: #404bbf;
}
.mobile-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    gap: 40px;
}

.contacts-list-mobile {
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    font-style: normal;
}

.mobile-adress-tel {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4d5ae5;
}
.mobile-adress-info {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.socials-mobile-icons {
    gap: 16px;
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 40px;
}
.social-link {
}
.social-icon {
}